body {
    min-height: 100vh;
    display: grid;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

form>input {
    flex: 1 1 10ch;
    margin: 0.5rem;
}

form>input[type="email"] {
    flex: 3 1 30ch;
}

input {
    border: none;
    background: #ededed;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
}

input[type="submit"] {
    background: rgb(21, 64, 206);
    color: white;
    box-shadow: 0 0.75rem 0.5rem -0.5rem #5ac5f7;
}
.hform{
    margin: auto;
    text-align:center;
    align-items: center;
}
.classesofstuffs{
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}
#submitbutton {
    margin: auto;
    text-align:center;
}